{% extends 'base.html' %}
{% block title %}Just Melons{% endblock %}

<link rel="stylesheet" href="/static/css/styles.css">

{% block content %}

  <div>
    <h1 class="headings"><font color="#009933">Welcome, {{ (session['username']).title() }}.</font></h1>
  </div>
  {# <!-- Create a div for every Most Loved Melon using a Jinja for-loop --> #}


  <div>
    <ul>
      {% for melon in top_melons %}
        <li><h3>{{ (session['username']).title() }}, this is a {{ top_melons[melon]['name'] }}</h3></li>
        <li>It's been loved {{ top_melons[melon]['num_loves'] }} times!</li>

        {# <!-- <li>Here's a picture –<br> <img class="top-melon-img" src=" {{ top_melons[melon]['img'] }}"> </li> --> #}
        <div class="melon-div"><img class="top-melon-img" src="{{ top_melons[melon]['img'] }}"></div>

      {% endfor %}
    </ul>

  </div>
  

  {% endblock %}